flow.json
[{"id":"2c59658e.5332fa","type":"tab","label":"IO Setup","disabled":false,"info":"Make the initial GPIO setup in this flow."},{"id":"ad25e10a.26cc5","type":"tab","label":"Alexa Temperature","disabled":false,"info":""},{"id":"1f8a7ba6.77be34","type":"subflow","name":"Jupiter GPIO Write","info":"A node for writing the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":140,"wires":[{"id":"4edfee58.a8ddd"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"694095f6.28b8fc","type":"subflow","name":"Jupiter GPIO Mode","info":"A node for setting the Jupiter Boards GPIO pin mode. It uses the wiringPI library in command line fashion. \n\nThe mode can be one of the following string:\n- \"in\"  : digital input mode.\n- \"out\" : digital output mode.\n- \"pwm\" : PWM output mode.\n- \"up\"  : internal pull-up enabled.\n- \"down\": internal pull-down enabled.\n- \"tri\" : tri-state mode enabled.\n\nConfiguration parameters:\n- \"pin\" : the GPIO pin number as a string.\n- \"mode\": the GPIO mode as one of the above.","category":"","in":[{"x":200,"y":140,"wires":[{"id":"de1c803b.51ac"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}},{"name":"mode","type":"str","value":"out"}],"color":"#C0DEED","icon":"node-red/cog.svg"},{"id":"4cc51331.9916ec","type":"subflow","name":"Jupiter GPIO Pwm","info":"A node for writing the Jupiter Boards GPIO pins in PWM mode. It uses the wiringPI library in command line fashion.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: the PWM value (\"0\" to \"1023\").\n\nOutputs:\nNone","category":"","in":[{"x":160,"y":100,"wires":[{"id":"c538eb3a.b6d128"}]}],"out":[],"env":[{"name":"pin","type":"str","value":"0"}],"color":"#C0DEED","icon":"node-red/trigger.svg"},{"id":"8c7076bc.4bdda8","type":"subflow","name":"Jupiter GPIO Read","info":"A node for reading the Jupiter Boards GPIO pins. It uses the wiringPI library in command line fashion.\nIt has to be polled with any input (even empty) to provide a result.\n\nConfiguration parameters:\n- \"pin\": the GPIO pin number as a string.\n\nInputs:\n- msg.payload: triggers the flow execution.\n\nOutputs:\n- msg.payload: the GPIO digital value (\"1\" or \"0\").","category":"","in":[{"x":40,"y":80,"wires":[{"id":"2b046263.c6b66e"}]}],"out":[{"x":520,"y":60,"wires":[{"id":"2d55dee.2763d22","port":0}]}],"env":[{"name":"pin","type":"str","value":"0","ui":{"label":{"en-US":"pin"},"type":"input","opts":{"types":["str"]}}}],"color":"#C0DEED","icon":"node-red/inject.svg"},{"id":"92b294ec.7099b8","type":"alexa-home-conf","z":"","username":"ffich"},{"id":"8d54ebfd.99dbc8","type":"exec","z":"1f8a7ba6.77be34","command":"gpio write ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Write","x":510,"y":140,"wires":[[],[],[]]},{"id":"4edfee58.a8ddd","type":"function","z":"1f8a7ba6.77be34","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":140,"wires":[["8d54ebfd.99dbc8"]]},{"id":"de1c803b.51ac","type":"function","z":"694095f6.28b8fc","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + env.get(\"mode\");\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":140,"wires":[["861a422e.2cade"]]},{"id":"861a422e.2cade","type":"exec","z":"694095f6.28b8fc","command":"gpio mode ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Mode","x":550,"y":140,"wires":[[],[],[]]},{"id":"c538eb3a.b6d128","type":"function","z":"4cc51331.9916ec","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\") + \" \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["df445938.ee5eb8"]]},{"id":"df445938.ee5eb8","type":"exec","z":"4cc51331.9916ec","command":"gpio pwm","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Pwm","x":510,"y":100,"wires":[[],[],[]]},{"id":"2b046263.c6b66e","type":"function","z":"8c7076bc.4bdda8","name":"Format Paremeters","func":"msg.payload = env.get(\"pin\");\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":80,"wires":[["2d55dee.2763d22"]]},{"id":"2d55dee.2763d22","type":"exec","z":"8c7076bc.4bdda8","command":"gpio read ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"GPIO Read","x":390,"y":80,"wires":[[],[],[]]},{"id":"f246f292.eeeac","type":"alexa-home","z":"ad25e10a.26cc5","conf":"92b294ec.7099b8","device":"110913","acknoledge":true,"name":"Jupiter","topic":"","x":110,"y":160,"wires":[["99dd4c54.452f"]]},{"id":"60d263ba.c1542c","type":"alexa-home-resp","z":"ad25e10a.26cc5","x":860,"y":320,"wires":[]},{"id":"99dd4c54.452f","type":"i2c in","z":"ad25e10a.26cc5","name":"Get Temp Data","busno":"1","address":"72","command":"0","count":"2","x":280,"y":220,"wires":[["e2199958.a59988","ba16463d.d6ac08"]]},{"id":"e2199958.a59988","type":"function","z":"ad25e10a.26cc5","name":"Calc Temperature","func":"var temp_high = msg.payload[0];\nvar temp_low = msg.payload[1];\nvar temp;\n\n// Justify temperature values\ntemp = (temp_high << 8 | temp_low) >> 4;\n\n// Handle negative values\nif(temp & (1 << 11)) \n{\n    temp |= 0xF800;\n}\n\n// Calc temp\ntemp = temp * 0.0625;\n\nmsg.payload = temp;\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":320,"wires":[["3089dfd7.01bf1"]]},{"id":"568aa51b.e1dc4c","type":"debug","z":"ad25e10a.26cc5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"extra","targetType":"msg","x":820,"y":380,"wires":[]},{"id":"5d026250.b7291c","type":"function","z":"ad25e10a.26cc5","name":"Format Response","func":"msg.extra = {\n    \"temperatureReading\": {\n        \"value\": msg.payload\n    },\n};\nmsg.payload = true;\nreturn msg; ","outputs":1,"noerr":0,"x":630,"y":320,"wires":[["60d263ba.c1542c","568aa51b.e1dc4c"]]},{"id":"3089dfd7.01bf1","type":"calculator","z":"ad25e10a.26cc5","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"rdec","constant":"1","round":false,"decimals":0,"x":400,"y":320,"wires":[["5d026250.b7291c"]]},{"id":"80e4c8f.94d0338","type":"subflow:1f8a7ba6.77be34","z":"2c59658e.5332fa","name":"LED Init","env":[{"name":"pin","value":"7","type":"str"}],"x":280,"y":180,"wires":[]},{"id":"57560184.e42c9","type":"inject","z":"2c59658e.5332fa","name":"","topic":"","payload":"0","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":180,"wires":[["80e4c8f.94d0338"]]},{"id":"7e7c5066.5f39","type":"inject","z":"2c59658e.5332fa","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["b423d22d.0ef52"]]},{"id":"b423d22d.0ef52","type":"subflow:694095f6.28b8fc","z":"2c59658e.5332fa","name":"Set LED mode","env":[{"name":"pin","value":"7","type":"str"}],"x":300,"y":100,"wires":[]},{"id":"a1e483b0.62e64","type":"subflow:1f8a7ba6.77be34","z":"ad25e10a.26cc5","name":"Set LED value","env":[{"name":"pin","value":"7","type":"str"}],"x":720,"y":220,"wires":[]},{"id":"ba16463d.d6ac08","type":"trigger","z":"ad25e10a.26cc5","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"5","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":500,"y":220,"wires":[["a1e483b0.62e64"]]}]